body{
    margin: 0;
    padding: 32px;
    letter-spacing: 1px;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}
input{
    padding: 8px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #2c2c2c;
}
.app{
    margin: 0 auto;
    max-width: 1000px;
    border-radius: 8px;
    text-align: center;
    background: #ffffff;
    padding: 16px 32px 32px 32px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.menu{
    padding: 15px 0;
    text-decoration: none;
}
.link{
    font-size: 15px;
    color: #2c2c2c;
    text-decoration: none;
    transition: 0.3s ease;
}
.link:hover{
    color: #2c2c2c;
}

.home{
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
}
.home-col{
    width: 20%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    color:#fff;
    min-width: 160px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;    
    padding: 8px 16px;
    outline:none;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.3s ease;
    background: #2c2c2c;
    border: 1px solid #2c2c2c;
}
.button:hover{
    color:#2c2c2c;
    background: #ffffff;
}

.add-button{
    float: right;
}

.item-list{
    padding: 10px 0px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.125);
}
.item{
    display: flex;
    font-size: 12px;
    padding: 8px 16px;
    justify-content: space-between;
}
.item:nth-child(odd){
    background: #f0f0f0;
}
.button-group span{
    cursor: pointer;
    margin-left: 10px;
}
.right{
    float: right;
}

.button-group{
    display: flex;
    justify-content: space-between;
}

.heading{
    color: #fff;
    padding: 10px;
    font-size: 15px;
    background: #2c2c2c;
}
.form{
    margin: auto;
    max-width: 500px;
    margin-top: 20px;
}
.form-row{
    display: flex;
    padding: 2px 5px;
    justify-content: space-between;
}
.form-row:last-of-type {
    margin-bottom: 16px;
}
.sure{
    font-size: 15px;
    margin: 30px auto
}

.category-view,
.location-view {
    margin-bottom: 48px;
}
.add-category {
    padding-bottom: 16px;
    border: 1px solid rgba(0,0,0,0.125);
}